<p id="notice"><%= notice %></p>

<h1>Listing Argumentative Questions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @argumentative_questions.each do |argumentative_question| %>
      <tr>
        <td><%= link_to 'Show', argumentative_question %></td>
        <td><%= link_to 'Edit', edit_argumentative_question_path(argumentative_question) %></td>
        <td><%= link_to 'Destroy', argumentative_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Argumentative question', new_argumentative_question_path %>
