<%= simple_form_for(@tree, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <%= image_tag 'modelo.png', class: 'img-responsive', style: 'margin: auto', width: 400 %>
  <div class="form-inputs">
    <%= f.association :course, include_blank: false %>
    <%= f.association :first_node, include_blank: false %>
    <%= f.input :n_repeat %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
