<%= index_title %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Curso</th>
      <th>Etiqueta</th>
      <th>Nodo inicial</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @trees.each do |tree| %>
      <tr>
        <td><%= tree.id %></td>
        <td><%= tree.course.to_label %></td>
        <td><%= tree.label %></td>
        <td><%= link_to tree.first_node.label, tree.first_node %></td>
        <td>
          <%= link_to tree do %>
            <i class="fa fa-eye"></i> <%= t(:show, scope: 'site') %>
          <% end %>
        </td>
        <%= render 'shared/index_actions', object: tree %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to_new_path %>
