<h1>Hola estos son los parametros de edx!</h1>
<p>
<% @params.except(:action,:controller).sort.to_h.each_with_index do |(k,v),i| %>
<%= "&" if i > 0 %><%= k %>=<%= v -%>
<% end %>
</p>
<% @params.each do |k,v| %>
  <p><%= k %>:<%= v %></p>
<% end %>
