<%= index_title %>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="thead-center">
      <tr>
        <th>
          <p class="text-right">Hab. PC</p>
          <p class="text-left">Contenido</p>
        </th>
        <% critical_thinking_tags.each do |ct| %>
          <th class="text-right"><%= ct %></th>
        <% end %>
        <th class="text-right"><b>Total Contenido</b></th>
      </tr>
    </thead>
    <tbody>
      <% ct_scores_array = Array.new(critical_thinking_tags.size) { Array.new(0) } %>
      <% subject_tags.each do |st| %>
        <% st_scores = [] %>
        <tr>
          <td>
            <p><br>
            </p>
            <p><%= st %></p>
          </td>
          <% critical_thinking_tags.each_with_index do |ct,i| %>
            <td>
              <p class="text-right"><%= ct_score = ArgumentativeQuestion.tagged_with(ct, :on => :critical_thinking).tagged_with(st, :on => :subject).get_score(:critical_thinking) %></p>
              <p class="text-left"><%= st_score = ArgumentativeQuestion.tagged_with(ct, :on => :critical_thinking).tagged_with(st, :on => :subject).get_score(:subject) %></p>
            </td>
            <% st_scores << st_score if st_score.is_a? Numeric %>
            <% ct_scores_array[i] << ct_score if ct_score.is_a? Numeric  %>
          <% end %>
          <td>
            <p><br>
            </p>
            <p><%= st_scores.size > 0 ? (st_scores.sum / st_scores.size).round(2) : 'N/O' %></p>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>Total Habilidad PC</td>
        <% ct_scores_array.each do |ct_scores| %>
          <td class="text-right"><%= ct_scores.size > 0 ? (ct_scores.sum / ct_scores.size).round(2) : 'N/O' %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
